<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.kmu.ncs.cnc_mc_monitor">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <activity android:name=".core.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".core.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"/>
        <activity android:name=".listPanel.ListActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"/>
        <activity android:name=".detailActivity.DetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".core.SignUpActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"/>
        <activity android:name=".core.FindPasswdActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"/>
        <activity android:name=".core.SettingActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"/>
        <service android:name=".db.DbUpdateService"
            android:enabled="true"/>
        <service android:name=".FCM.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".FCM.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>